In [17]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


from datetime import datetime
from pandas_datareader import data
import yfinance as yahooFinance

from sklearn.linear_model import LinearRegression

In [18]:

tickers = ['AAPL', 'SPY', 'JPM']
start_date = datetime(2018,8,18)
end_date = datetime(2022,12,31)

AAPL_data = yahooFinance.download(tickers[0], start_date, end_date)
SPY_data = yahooFinance.download(tickers[1], start_date, end_date)
JPM_data = yahooFinance.download(tickers[2], start_date, end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed

### Question 1

In [19]:
SPY_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-08-20,285.570007,285.970001,285.059998,285.670013,260.555969,39807500
2018-08-21,286.250000,287.309998,285.709991,286.339996,261.167053,67272000
2018-08-22,285.880005,286.760010,285.579987,286.170013,261.011993,44993300
2018-08-23,285.970001,286.940002,285.429993,285.790009,260.665344,49204900
2018-08-24,286.440002,287.670013,286.380005,287.510010,262.234131,57487400

### Question 2

In [20]:
SPY_data["Returns"] = SPY_data['Adj Close'].pct_change(periods=1)

date = datetime(2018, 8, 20)
SPY_data.drop(date, axis=0, inplace=True)
SPY_data.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2018-08-21,286.250000,287.309998,285.709991,286.339996,261.167053,67272000,0.002345
2018-08-22,285.880005,286.760010,285.579987,286.170013,261.011993,44993300,-0.000594
2018-08-23,285.970001,286.940002,285.429993,285.790009,260.665344,49204900,-0.001328
2018-08-24,286.440002,287.670013,286.380005,287.510010,262.234131,57487400,0.006018
2018-08-27,288.859985,289.899994,288.679993,289.779999,264.304626,57072400,0.007896

In [21]:
AAPL_data["Returns"] = AAPL_data['Adj Close'].pct_change(periods=1)
AAPL_data.drop(date, axis=0, inplace=True)
AAPL_data.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2018-08-21,54.200001,54.297501,53.507500,53.759998,51.420017,104639200,-0.001949
2018-08-22,53.525002,54.090000,53.459999,53.762501,51.422409,76072400,0.000047
2018-08-23,53.662498,54.262501,53.650002,53.872501,51.527622,75532800,0.002046
2018-08-24,54.150002,54.224998,53.777500,54.040001,51.687832,73905600,0.003109
2018-08-27,54.287498,54.685001,54.082500,54.485001,52.113461,82100400,0.008235

In [22]:
JPM_data["Returns"] = JPM_data['Adj Close'].pct_change(periods=1)
JPM_data.drop(date, axis=0, inplace=True)
JPM_data.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2018-08-21,115.370003,116.389999,114.879997,115.320000,97.799500,10976700,0.006107
2018-08-22,115.309998,115.410004,114.779999,114.970001,97.502663,8314700,-0.003035
2018-08-23,114.959999,115.150002,114.430000,114.730003,97.299149,9265400,-0.002087
2018-08-24,114.980003,115.220001,114.449997,114.680000,97.256752,8845700,-0.000436
2018-08-27,115.220001,117.279999,115.169998,116.709999,98.978310,13768000,0.017701

### Question 3

In [23]:
X = SPY_data['Returns'].values.reshape(-1, 1)  # SPY returns as independent variable
Y = AAPL_data['Returns'].values.reshape(-1, 1)  # AAPL returns as dependent variable

reg = LinearRegression().fit(X, Y)
reg.coef_[0][0]

1.2601772113284297

### Question 4

In [24]:
JPM_historical = JPM_data["Returns"].iloc[:100]
AAPL_historical = AAPL_data['Returns'].iloc[:100]

In [25]:
JPM_mean = JPM_historical.mean()
JPM_std = JPM_historical.std()
print(JPM_mean)
print(JPM_std)

-0.0010224915308481531
0.01401428800524082

In [26]:
AAPL_mean = AAPL_historical.mean()
AAPL_std = AAPL_historical.std()
print(AAPL_mean)
print(AAPL_std)

-0.0032882605051910217
0.024107401653769376

### Question 5

In [27]:
corr_JPM_AAPL = np.corrcoef(JPM_historical, AAPL_historical)[0, 1]
print(corr_JPM_AAPL)

0.5852063570042554

The above is a matrix of the correlation coefficients for each date, which approximate to 1 for each date. Below is the mean correlation coeffient for the data points that couldn't be visualized in the above matrix, which is slightly less than 1.

In [28]:
corr_JPM_AAPL.mean()

0.5852063570042554

### Question 6

In [29]:
AAPL_future = AAPL_data.iloc[100:]
JPM_future = JPM_data.iloc[100:]

In [30]:
weights = [0.2, 0.4, 0.6, 0.8]
portfolio = pd.DataFrame()

for w in weights:
    portfolio['Returns'] = w * AAPL_future['Returns'] + (1-w) * JPM_future['Returns']

    mean_return = portfolio['Returns'].mean()
    std_dev = portfolio['Returns'].std()
    print(f"Weight of AAPL: {w}, Mean Return: {mean_return}, Standard Deviation: {std_dev}")

Weight of AAPL: 0.2, Mean Return: 0.0008062322921279598, Standard Deviation: 0.01963253452404846
Weight of AAPL: 0.4, Mean Return: 0.0009827821555445245, Standard Deviation: 0.01861166095084887
Weight of AAPL: 0.6, Mean Return: 0.0011593320189610887, Standard Deviation: 0.018619180418305754
Weight of AAPL: 0.8, Mean Return: 0.0013358818823776533, Standard Deviation: 0.01965391259108877

### Question 7

In [31]:
sharpe_AAPL = AAPL_future['Returns'].mean() / AAPL_future['Returns'].std()
sharpe_JPM = JPM_future['Returns'].mean() / JPM_future['Returns'].std()

print(f"Sharpe Ratio of AAPL: {sharpe_AAPL}")
print(f"Sharpe Ratio of JPM: {sharpe_JPM}")

portfolio_sharpe = pd.DataFrame()

for w in weights:
    portfolio_sharpe['Returns'] = w * AAPL_future['Returns'] + (1-w) * JPM_future['Returns']

    mean_return = portfolio_sharpe['Returns'].mean()
    std_return = portfolio_sharpe['Returns'].std()
    sharpe_final = mean_return / std_return

    print(f"Weight of AAPL: {w}, Sharpe Ratio: {sharpe_final}")

Sharpe Ratio of AAPL: 0.07012217951502228
Sharpe Ratio of JPM: 0.02923853258958888
Weight of AAPL: 0.2, Sharpe Ratio: 0.04106613392888129
Weight of AAPL: 0.4, Sharpe Ratio: 0.052804645331759076
Weight of AAPL: 0.6, Sharpe Ratio: 0.06226546995705957
Weight of AAPL: 0.8, Sharpe Ratio: 0.06797027697087409